{% extends 'frontend.html.twig' %}

{% block body %}
        <div class="col-sm-6 page-content">
            <div>
                <section id="slider">
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <ul>
                                <li class="tp-revslider-slidesli active-revslide current-sr-slide-visible" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ asset('frontend/img/slider/slide1.jpg') }}" data-delay="10000" data-saveperformance="on">

                                    <img src="{{ asset('frontend/img/dummy.png') }}" alt="laptopmockup_sliderdy" data-lazyload="{{ asset('frontend/img/slider/slide1.jpg') }}" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

                                    <div class="tp-caption largeHeadingWhite customin customout tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="-80" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="1200" data-start="1550" data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Back.easeIn" style="z-index: 11;">
                                        <h1 style="min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Welcome to ClassiX</h1>
                                    </div>

                                    <div class="tp-caption detailText p lft tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="0" data-speed="1200" data-start="2100" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <p style="min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff;">Used Cars To Mobile Phones And Computers, Or Search<br /> For Property, Jobs And More.</p>
                                    </div>

                                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="60" data-speed="1200" data-start="2700" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <a href="#" class="btn btn-common btn-lg">Join Now</a>
                                    </div>
                                </li>
                                <li class="tp-revslider-slidesli active-revslide current-sr-slide-visible" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ asset('frontend/img/slider/slide2.jpg') }}" data-delay="10000" data-saveperformance="on">

                                    <img src="{{ asset('frontend/img/dummy.png') }}" alt="laptopmockup_sliderdy" data-lazyload="{{ asset('frontend/img/slider/slide2.jpg') }}" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

                                    <div class="tp-caption largeHeadingWhite customin customout tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="-80" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="1200" data-start="1550" data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Back.easeIn" style="z-index: 11;">
                                        <h1 style="min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Buy and Sell Anything</h1>
                                    </div>

                                    <div class="tp-caption detailText p lft tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="0" data-speed="1200" data-start="2100" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <p style="min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff;">Used Cars To Mobile Phones And Computers, Or Search<br /> For Property, Jobs And More.</p>
                                    </div>

                                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 start" data-x="35" data-y="center" data-voffset="60" data-speed="1200" data-start="2700" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <a href="#" class="btn btn-common btn-lg">Post an Ad</a>
                                    </div>

                                    <div class="tp-caption lfr customout start" data-x="right" data-hoffset="0" data-y="80" data-voffset="160" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="1000" data-start="950" data-easing="easeOutQuart" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Back.easeInOut" style="z-index: 6;">
                                        <div><img src="{{ asset('frontend/img/slider/girl1.png') }}" alt=""></div>
                                    </div>
                                </li>
                                <li class="tp-revslider-slidesli active-revslide current-sr-slide-visible" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ asset('frontend/img/slider/slide3.jpg') }}" data-delay="10000" data-saveperformance="on">

                                    <img src="{{ asset('frontend/img/dummy.png') }}" alt="laptopmockup_sliderdy" data-lazyload="{{ asset('frontend/img/slider/slide3.jpg') }}" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

                                    <div class="tp-caption largeHeadingWhite customin customout tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-y="center" data-voffset="-80" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="1200" data-start="1550" data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Back.easeIn" style="z-index: 11;">
                                        <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Start Exploring Great Deals</h1>
                                    </div>

                                    <div class="tp-caption detailText p lft tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-y="center" data-voffset="0" data-speed="1200" data-start="2100" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Used Cars To Mobile Phones And Computers, Or Search For Property, Jobs And Moren. <br /> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>

                                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-y="center" data-voffset="60" data-speed="1200" data-start="2700" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;">
                                        <a href="#" class="btn btn-common btn-lg">Get Started</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <br />
            </div>

            <div class="product-filter">
                <div class="grid-list-count">
                    <a class="list switchToGrid" href="#"><i class="fa fa-list"></i></a>
                    <a class="grid switchToList" href="#"><i class="fa fa-th-large"></i></a>
                </div>
                <div class="Show-item">
                    <span>Itens Por Página</span>
                    <form class="woocommerce-ordering" method="post">
                        <label>
                            <select name="order" class="orderby">
                                <option selected="selected" value="12">12 itens</option>
                                <option value="24">24 itens</option>
                                <option value="48">48 itens</option>
                                <option value="72">72 itens</option>
                                <option value="96">96 itens</option>
                            </select>
                        </label>
                    </form>
                </div>
            </div>

            <div class="adds-wrapper">
                {% for advertisement in advertisements %}
                    <div class="item-list make-grid">
                        <div class="col-sm-2 no-padding photobox">
                            <div class="add-image">
                                <a href="{{ path('advertisement_view',
                                { 'id': advertisement.id }) }}"><img src="{{ asset('frontend/img/item/img-1.jpg') }}" alt=""></a>
                                <span class="photo-count"><i class="fa fa-camera"></i> 2</span>
                            </div>
                        </div>
                        <div class="col-sm-7 add-desc-box">
                            <div class="add-details">
                                <h5 class="add-title"><a href="{{ path('advertisement_view',
                                    { 'id': advertisement.id }) }}">{{ advertisement.title }}</a></h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination-bar text-center">
                <ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">...</a></li>
                    <li><a class="pagination-btn" href="#">Próximo »</a></li>
                </ul>
            </div>

        </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('frontend/extras/owl.carousel.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontend/extras/owl.theme.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('frontend/js/owl.carousel.min.js') }}"></script>
{% endblock %}