{% extends 'dashboard.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Empresa
            <small>adicionar</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-8">
            <!-- Default box -->
            <div class="box">
                {{ form_start(form, {
                    'attr': {
                        'class': 'form-horizontal'
                    }
                }) }}
                <div class="box-header with-border">
                    <ul class="list-inline pull-left">
                        <li>
                            <a href="{{ path('company_index') }}">
                                <button type="button"
                                        class="btn btn-block btn-info btn-sm">
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                            </a>
                        </li>
                    </ul>
                    <h3 class="box-title">Adicionar Empresa</h3>
                </div>
                <div class="box-body">
                    <div id="wrapper">
                        <div id="container">
                            <div class="form-group">
                                {{ form_label(form.name, null, {
                                    'label': 'Nome',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.name, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.bio, null, {
                                    'label': 'Biografia',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.bio, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.category, null, {
                                    'label': 'Categoria',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.category, {
                                        'attr': {
                                            'class': 'form-control select2',
                                            'data-placeholder': 'Selecione as categorias'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.streetType, null, {
                                    'label': 'Tipo do Logradouro',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.streetType, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.street, null, {
                                    'label': 'Endereço',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.street, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.number, null, {
                                    'label': 'Numero',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.number, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.district, null, {
                                    'label': 'Bairro',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.district, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.zipCode, null, {
                                    'label': 'CEP',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.zipCode, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address.city, null, {
                                    'label': 'Cidade',
                                    'label_attr': {
                                        'class': 'col-sm-2 control-label'
                                    }
                                }) }}
                                <div class="col-sm-10 required">
                                    {{ form_widget(form.address.city, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <ul class="list-inline pull-right">
                        <li>
                            <a href="{{ path('company_index') }}">Voltar</a>
                        </li>
                        <li>
                            <input type="submit" class="btn btn-primary"
                                   value="Adicionar" />
                        </li>
                    </ul>
                </div>
                <!-- /.box-footer-->
                {{ form_end(form) }}
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block stylesheets %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('dashboard/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ asset('dashboard/plugins/select2/select2.full.min.js') }}"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock %}

