{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Contacttype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contactType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contactType.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacttype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contacttype_edit', { 'id': contactType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
